@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: #2E1E0F;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}

body{
    background-color:#e3b4a6;
}
/* Style the "active" element to highlight the current page */
.navbar a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .navbar input[type=text] {
    width:500px;
    padding: 6px;
    border: none;
    margin: 15px;
    font-size: 17px;
  }
.container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#A27E8E;
    width:100vw

}
.column{
    height:60vh;
    width:10vw;
    
}


.btn-div{
    display: flex;
    justify-content: space-around;
    width:85vw;
}

.columns{
    display: flex;
    justify-content: space-around;
    padding-right: 5vw;
    
}

.btn{
    cursor: pointer;
    margin: 10px;
    padding-bottom: 10px;
    width:10vw;
}

.editBtns{
    display: flex;
    flex-direction: column;
    width:70px
}

.deleteBtns{
    display: flex;
    flex-direction: column;
    width:70px;
}

.element-padding{
    padding:2px
}


.columns .hobby{
    width:15vw;
    
}

@media(max-width:950px){
    .btn-div{
        width:73vw
    }

    .capsule{
        width:5vw;
    }
    .age{
        width:5vw;
    }
    .city{
        width:9vw;
    }
    .gender{
        width:5vw
    }

    .deleteBtns{
        width:50px
    }
    .editBtns{
        width:50px
    }

.column{
    height: 80vh;
}
 .columns{
        justify-content:safe;
    
    }
}

