@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: #2E1E0F;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}

body{
    background-color:#E5E9E2 ;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:lightgray;

}
.column{
    height:60vh;
    
    
}


.btn-div{
    display: flex;
    justify-content: space-around;
}

.columns{
    display: flex;
    justify-content: space-around;
}

.btn{
    cursor: pointer;
    margin: 10px;
    padding-bottom: 10px;
}